@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
	--dark-color-a: #686868;
	--dark-color-b: rgb(202, 202, 202);
	--light-color: #fcebfa;
    --correct-color: #325fa4;
    --wrong-color: #c52424;
	--wrong-bg: #ffc3d3;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
    font-size: 32px;
}

body {
    background-color: var(--light-color);
    margin: 20px;
}