.levelContainer {
    width: 30%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(9, minmax(0, 1fr));
    border: 3px solid var(--dark-color-a);
}

.btnInitial {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    background-color: white;
    border: 0.01em solid var(--dark-color-a);
}

.btnInitial:nth-child(3n) {border-right: 3px solid var(--dark-color-a);}
.btnInitial:nth-child(9n) {border-right: 1px solid var(--dark-color-a);}
.btnInitial:nth-child(n + 19) {border-bottom: 3px solid var(--dark-color-a);}
.btnInitial:nth-child(n + 28) {border-bottom: 1px solid var(--dark-color-a);}
.btnInitial:nth-child(n + 46) {border-bottom: 3px solid var(--dark-color-a);}
.btnInitial:nth-child(n + 55) {border-bottom: 1px solid var(--dark-color-a);}


.checkCell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    background-color: #e0eaf4;
}

.sameValue {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    background-color: #9de6fe;
}

.wrongCellBg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    background-color: var(--wrong-bg);
}

.currentBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    background-color: #fff6b3;
}

.wrongCell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    color: var(--wrong-color);
}

.correctCell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    color: var(--correct-color);
}