.numbersContainer {
    width: 30%;
    margin: 15px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toolsContainer {
    width: 15%;
    margin: 15px auto 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btnNumber {
    font-size: 25px;
    width: 42px;
    background-color: rgb(53, 53, 53);
    color: white;
    border: 2px solid black;
    border-radius: 3px;
}

.btnNumber:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.btnTool {
    font-size: 25px;
    width: 50px;
    background-color: rgb(53, 53, 53);
    color: white;
    border: 2px solid black;
    border-radius: 3px;
}

.btnTool:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.toolSelected {
    font-size: 25px;
    width: 50px;
    background-color: white;
    color: rgb(53, 53, 53);
    border: 2px solid black;
    border-radius: 3px;
}

.toolSelected:hover {
    background-color: white;
    color: rgb(53, 53, 53);
}

.buttonsContainer{
    width: 30%;
    margin: 15px auto 0;
    display: flex;
    justify-content: space-between;
}

.btnChangeLevel {
    cursor: pointer;
    border: 0;
    font-size: 17px;
    background-color: transparent;
    margin: auto 0;
}

.btnRestart {
    cursor: pointer;
    padding: 10px 30px;
    background-color: rgb(53, 53, 53);
    color: white;
    border: 2px solid black;
    border-radius: 3px;
    font-size: 17px;
}

.btnRestart:hover {
    background-color: #000;
}